<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AP.Asthma_Pal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.AP.Asthma_Pal.JournalHistoryActivity"></activity>
        <activity android:name="com.AP.Asthma_Pal.DailySymptomsActivity" />
        <activity android:name="com.AP.Asthma_Pal.Predicteds" />
        <activity android:name="com.AP.Asthma_Pal.toContinueActivity" />

        <activity android:name="com.AP.Asthma_Pal.PhysicianRegistration"></activity>
        <activity android:name="com.AP.Asthma_Pal.PhysicianInformation" />
        <activity android:name="com.AP.Asthma_Pal.InformationActivity" />

        <activity android:name="com.AP.Asthma_Pal.RegistrationActivity" />
        <activity android:name="com.AP.Asthma_Pal.DailyEntryActivity" />
        <activity android:name="com.AP.Asthma_Pal.ChartActivity" />
        <activity android:name="com.AP.Asthma_Pal.SettingsActivity" />
        <activity android:name="com.AP.Asthma_Pal.MainActivity" />
        <activity android:name="com.AP.Asthma_Pal.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>